<div class="x_panel">
	<div class="x_title">
		<h2>Error Count</h2>
		<div class="clearfix"></div>
	</div>
	<div class="x_content">

		<table class="table table-striped" [mfData]="tableData" #mf="mfDataTable" [mfRowsOnPage]="15">
			<thead>
				<tr>
					<th style="width: 10%">
						<mfDefaultSorter by="date">Date</mfDefaultSorter>
					</th>
					<th style="width: 7%">
						<mfDefaultSorter by="cityRecord">CityRecord</mfDefaultSorter>
					</th>
					<th style="width: 10%">
						<mfDefaultSorter by="propertyContractRecord">PropertyContractRecord</mfDefaultSorter>
					</th>
					<th style="width: 10%">
						<mfDefaultSorter by="propertyRatePlanRecord">PropertyRatePlanRecord</mfDefaultSorter>
					</th>
					<th style="width: 10%">
						<mfDefaultSorter by="bookingSummaryRecord">BookingSummaryRecord</mfDefaultSorter>
					</th>
					<th style="width: 7%">
						<mfDefaultSorter by="propertyRecord">PropertyRecord</mfDefaultSorter>
					</th>
					<th style="width: 7%">
						<mfDefaultSorter by="productRecord">ProductRecord</mfDefaultSorter>
					</th>
					<th style="width: 10%">
						<mfDefaultSorter by="landmarkRecord">LandmarkRecord</mfDefaultSorter>
					</th>
					<th style="width: 10%">
						<mfDefaultSorter by="landmarkTextTypeRecord">LandmarkTextTypeRecord</mfDefaultSorter>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of mf.data">
					<td>{{item.date | date:'shortDate' }}</td>
					<td>{{item.CityRecord}}</td>
					<td>{{item.PropertyContractRecord}}</td>
					<td>{{item.PropertyRatePlanRecord}}</td>
					<td>{{item.BookingSummaryRecord}}</td>
					<td>{{item.PropertyRecord}}</td>
					<td>{{item.ProductRecord}}</td>
					<td>{{item.LandmarkRecord}}</td>
					<td>{{item.LandmarkTextTypeRecord}}</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="4">
						<mfBootstrapPaginator [rowsOnPageSet]="[25,50,100]"></mfBootstrapPaginator>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>