<table class="table table-hover" [mfData]="inputData" #mf="mfDataTable" [mfRowsOnPage]="16">
	<thead>
		<tr>
			<th>
				<mfDefaultSorter by="date">Date</mfDefaultSorter>
			</th>
			<th *ngFor="let entity of tableData.entities">
				<mfDefaultSorter by="{{entity}}">{{entity}}</mfDefaultSorter>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let item of tableData.data">
			<td>{{item.date | date:'shortDate' }}</td>
			<td *ngFor="let entity of tableData.entities">
				<span [ngClass]="getCss(item[entity])">{{item[entity]}}</span>
			</td>
		</tr>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="4">
				<mfBootstrapPaginator [rowsOnPageSet]="[25,50,100]"></mfBootstrapPaginator>
			</td>
		</tr>
	</tfoot>
</table>
<!--<div class="clearfix"></div>-->
<div class="tiles">
	<div class="col-md-12">
		<h4></h4>
		<span class="label label-info">Errors > 100</span>
		<span class="label label-warning">Errors > 500</span>
		<span class="label label-danger">Errors > 1000</span>
	</div>
</div>