
<!--
<table class="table table-striped">
	<thead>
		<tr>
			<th>
				Entity
			</th>
			<th>
				Record Type
			</th>
			<th>
				Sub Entity
			</th>
			<th>
				count
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td rowspan="4">PropertyContract</td>
			<td rowspan="2">Insert</td>
			<td>subEntity</td>
			<td>count</td>
		</tr>
		<tr>
			<td>subEntity</td>
			<td>count</td>
		</tr>
		<tr>
			<td rowspan="2">Update</td>
			<td>subEntity</td>
			<td>count</td>
		</tr>
		<tr>
			<td>subEntity</td>
			<td>count</td>
		</tr>
	</tbody>
</table>

-->


<div id="entity_summary_chart" [chartData]="summary_ChartData" [chartOptions]="summary_ChartOptions" chartType="WordTree" GoogleChart style="height: 400px;">
</div>